<form method="post" action="">
    <label for="nome">Nome</label>
    <input id="nome" name="nome">
    <br>

    <label for="descricao">Descrição</label>
    <input id="descricao" name="descricao">
    <br>

    <button>Enviar</button>
</form>